
<div class="footer fixed-bottom">
  <div class="footer-links">
  <%= link_to 'https://github.com/tarcea', target:'_blank' do %>
  <i class="fab fa-github"></i>
  <% end %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa fa-copyright" aria-hidden="true"></i> <%= Time.now.year%> Gheorghe Tarcea
  </div>
</div>
